<app-layout [showNavigation]="false" class="term-page">

    <div class="back">
        <div class="block" (click)="location.back()">
            <ion-icon name="arrow-round-back"></ion-icon>
        </div>
    </div>

    <div class="content">

        <ng-container *ngIf="verb$ | async as verb">

            <ion-card>
                <ion-card-header color="dark">
                    <ion-card-title>{{verb.term}}</ion-card-title>
                </ion-card-header>
                <ion-img *ngIf="verb.imageUrl" [src]="verb.imageUrl"></ion-img>
                <ion-card-content>{{verb.value}}</ion-card-content>
                <ion-card-content class="primary" *ngIf="verb.description">{{verb.description}}</ion-card-content>
            </ion-card>

        </ng-container>

    </div>

</app-layout>
