.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    .main {
        flex-grow: 1;
        overflow: auto;
        // padding: 1em;
    }

    .footer {
        min-height: 70px;

        ion-segment-button {
            // --color: blue;

            ion-label {
                font-size: .7em;
            }
        }

        .active {
            --color: blue;
        }
    }
}